/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {
    sanger_standard {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data/"
        }
    }
}
