/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

docker {
    enabled = false
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$PWD"
    runOptions = "--bind /lustre,/nfs,/software,/data/"
}
