params {
    studyid = -1 // default value that should fail the iRODS query
    runid = -1 // default value that should fail the iRODS query
    laneid = -1 // default value that should fail the iRODS query
    plexid = -1 // default value that should fail the iRODS query
    target = "1"
    type = "cram"
    manifest_of_lanes = null
    manifest_of_reads = null
}
// TODO: use same names on config and code. 
//       manifest_of_lanes = irods_manifest
//       manofest_of_reads = sample_sheet